
<html>
<body>

</body>
</html>
<header style="height: 100px">
  <!-- header inner -->
  <div class="header">
    <div class="header_white_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="header_information">
              <ul>
                <li><img src="assets/images/1.png" alt="#"/> Avenue Habib Borguiba-Tunis</li>
                <li><img src="assets/images/2.png" alt="#"/> +216 74562985</li>
                <li><img src="assets/images/3.png" alt="#"/> Tunisiatour@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
          <div class="full">

          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
          <div class="menu-area">
            <div class="limit-box">
              <nav class="main-menu">
                <ul class="menu-area-main">
                  <li class="active" style="margin-top: -10px"> <a href="#">Home</a> </li>
                  <li> <a href="#about" style="margin-top: -10px">About</a> </li>
                  <li><a href="#travel" style="margin-top: -10px">Travel</a></li>
                  <li><a href="#blog" style="margin-top: -10px">Blog</a></li>
                  <li><a href="#contact" style="margin-top: -10px">Contact Us</a></li>
                  <li><a href="http://localhost:4200/authentification" style="margin-top: -10px" >Espace Hajj & Omra</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header inner -->
</header>
<nav >
  <div class="topnav" >
    <a routerLink="/programme" style="margin-left: 900px">Programme</a>
    <a routerLink="/vol">Vols</a>
    <a routerLink="/hotel">Hôtels</a>
    <a routerLink="/bus">Bus</a>
    <a routerLink="/calendrier">Calendrier </a>


  </div>
</nav>

<img src="assets/images/logo.jpg" style="width: 1550px;height: 593px;opacity: 70%">
<router-outlet></router-outlet>



